///resultado.page.html
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="'/folha-pagamento'" class="btn">
      <ion-icon name="arrow-back-outline" class="green-icon"></ion-icon>
    </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Setembro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <br>
  <ion-button expand="full" href=" https://www.flipsnack.com/8DFDDFBBDC9/9-pedido-kelvin-mendes-ribeiro-setembro-2023/full-view.html" target="_blank" class="custom-button">
    <ion-icon name="document-text-outline"></ion-icon>Setembro-2023
  </ion-button>
  <ion-button expand="full" href="https://www.flipsnack.com/85D67AEEFB5/pedido-kelvin-mendes-ribeiro-fevereiro-2022/full-view.html" target="_blank" class="custom-button">
    <ion-icon name="document-text-outline"></ion-icon>Setembro-2022
  </ion-button>
  <ion-button expand="full" href="https://www.flipsnack.com/8DFDDFBBDC9/pedido-kelvin-mendes-ribeiro-setembro-2021/full-view.html" target="_blank" class="custom-button">
    <ion-icon name="document-text-outline"></ion-icon>Setembro-2021
  </ion-button>
  <ion-button expand="full" href="https://www.flipsnack.com/C876F75569B/fevereiro-2023/full-view.html" target="_blank" class="custom-button">
    <ion-icon name="document-text-outline"></ion-icon>Setembro-2020
  </ion-button>
  <ion-button expand="full" href="https://www.flipsnack.com/C876F75569B/fevereiro-2023/full-view.html" target="_blank" class="custom-button">
    <ion-icon name="document-text-outline"></ion-icon>Setembro-2019
  </ion-button>
</ion-content>
