.custom-button {
  background-color: transparent;
  text-align: left;
  color: initial;
  transition: background-color 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #00ff00; /* Verde quando o mouse está sobre o botão */
}
