<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultados
      <ion-button fill="clear" slot="end"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let resultado of resultados" (click)="abrirPDF(resultado.pdfUrl)">
      <ion-icon slot="start" name="document"></ion-icon>
      <ion-label>
        Ano: {{ resultado.ano }} - Mês: {{ resultado.mes }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<script>
  function abrirPDF(url) {
    window.open(url, '_system');
  }
</script>
